/* إعدادات عامة */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif v;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

/* تصميم الهيدر */
header {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand .logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-brand .brand-name {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

/* تصميم الـ Hero Section */
.hero {
  background-image: url('home.jpg'); /* قم بإضافة مسار الصورة هنا */
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* تصميم الكروت في المنيو */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.highlight {
  background-color: rgba(0, 0, 0, 0.7); /* لون خلفية التظليل */
  padding: 8px 12px; /* مساحة حول النص */
  border-radius: 10px; /* زوايا دائرية */
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7); /* ظل خفيف */
}
.highlight {
  background-color: rgba(0, 0, 0, 0.7); /* لون خلفية التظليل (رمادي داكن مع شفافية) */
  color: white; /* لون النص (أبيض) - اختياري، لتوضيح النص على الخلفية الداكنة */
  padding: 5px 10px; /* مساحة حول النص */
  border-radius: 5px; /* زوايا دائرية */
}

.hekaya-styled {
  color: #f4a400; /* لون النص الأصلي (ذهبي) */
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  animation: color-change 5s linear infinite; /* تشغيل التغيير التلقائي للألوان */
}

@keyframes color-change {
  0% { color: #8B0000; } /* أحمر داكن */
  25% { color: #006400; } /* أخضر داكن */
  50% { color: #00008B; } /* أزرق داكن */
  75% { color: #800080; } /* بنفسجي داكن */
  100% { color: #8B0000; } /* العودة إلى الأحمر الداكن */
}
  

.card img {
  border-radius: 10px 10px 0 0;
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #8a5c42;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #6f4c3e;
}

/* الفوتر */
footer {
  background-color: #6f4c3e;
  color: white;
  text-align: center;
  padding: 20px 0;
}
